body {
  -webkit-font-smoothing: antialiased !important;
  background: var(--color-background);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body,
input,
button,
textarea {
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text-base);
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body,
html,
#root {
  height: 100vh;
}

:root {
  --color-background: #ffffff;
  --color-primary: #0439d6;
  --color-secundary: #ef0732;
  --color-title-primary: #0439d6;
  --color-title-secundary: #ef0732;
  --color-text-base: #0439d6;
  --color-text-secundary: #ef0732;
  --color-text-in-primary: #ffffff;
  --color-text-in-secundary: #ffffff;
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

.centraliza {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.headerCentraliza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainMenu .menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.mainMenu .menuAnchor {
  color: var(--color-text-base);
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 0.8rem;
}

.wrapperSelectStates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapperSelectStates::after {
  content: url(../assets/svg/arrow-down.svg);
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
}

.wrapperSelectStates select {
  color: var(--color-text-base);
  font-size: 1.8rem;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  margin-left: 0.8rem;
}

.wrapperLoginArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.wrapperLoginArea span {
  color: var(--color-text-base);
  display: inline-block;
  margin: 0 0.8rem;
}

.wrapperLoginArea .typeButton {
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrapperLoginArea .loginButton {
  background: var(--color-text-base);
  color: var(--color-text-in-primary);
  border: 0;
}

.wrapperLoginArea .loginButton:hover {
  background: #032ca4;
}

.wrapperLoginArea .registerButton {
  border: 1px solid var(--color-primary);
  background: transparent;
}

.wrapperLoginArea .registerButton:hover {
  background: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */