body {
  -webkit-font-smoothing: antialiased !important;
  background: var(--color-background);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body,
input,
button,
textarea {
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text-base);
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body,
html,
#root {
  height: 100vh;
}

:root {
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

.centraliza {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.headerCentraliza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainMenu .menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.mainMenu .menuAnchor {
  color: #0439d6;
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 0.8rem;
}

.wrapperSelectStates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapperSelectStates::after {
  content: url(../assets/svg/arrow-down.svg);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 11px;
  height: 20px;
}

.wrapperSelectStates select {
  color: #0439d6;
  font-size: 1.8rem;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  margin-left: 0.8rem;
}

.wrapperLoginArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.wrapperLoginArea span {
  color: #0439d6;
  display: inline-block;
  margin: 0 0.8rem;
}

.wrapperLoginArea .typeButton {
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrapperLoginArea .loginButton {
  background: #0439d6;
  color: #ffffff;
  border: 0;
}

.wrapperLoginArea .loginButton:hover {
  background: #032ca4;
}

.wrapperLoginArea .registerButton {
  border: 1px solid #0439d6;
  background: transparent;
  color: #0439d6;
}

.wrapperLoginArea .registerButton:hover {
  background: #f2f2f2;
}

.wrapperAppointment {
  background: url("../assets/background-appointment.png") 50% 0;
  width: 100%;
  height: 900px;
  background-size: cover;
}

@media (max-width: 1250px) {
  .wrapperAppointment {
    background: url("../assets/background-appointment.png") 70% 0;
  }
}

.centralizaAppointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px;
  height: 100%;
}

.leftLogo {
  width: 60%;
}

.rightNavForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.listAppointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anchorAppointment {
  color: #0439d6;
  font-size: 1.8rem;
  margin-right: 3rem;
}

.phoneNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ef0732;
}

.phoneNumber img {
  height: 20px;
  margin-right: 0.8rem;
}

.formAppointment {
  position: relative;
  width: 100%;
  max-width: 540px;
}

.formAppointment legend {
  font-size: 6rem;
  color: #ef0732;
  font-weight: 300;
  text-align: right;
  margin: 6rem 0;
}

.formAppointment legend span {
  display: block;
  width: 100%;
}

.formAppointment fieldset {
  border: 0;
}

.wrapperButton {
  border: 1px solid #0439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4rem;
}

.wrapperButton button {
  border: 0;
  color: #0439d6;
  width: 50%;
  background: transparent;
  font-size: 2.4rem;
  height: 6.6rem;
  text-align: center;
  border-radius: 4rem;
  font-weight: 300;
}

.wrapperButton button.hasBlue {
  background: #0439d6;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrapperButton button.hasBlue:hover {
  background: #032ca4;
}

.wrapperInput {
  background: #ffffff;
  border: 1px solid #0439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4rem;
  font-size: 2.4rem;
  padding: 1.4rem;
  margin-top: 1.8rem;
}

.wrapperInput input {
  background: transparent;
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #0439d6;
}

.wrapperInput input::-webkit-input-placeholder {
  color: #0439d6;
  opacity: 0.5;
}

.wrapperInput input:-ms-input-placeholder {
  color: #0439d6;
  opacity: 0.5;
}

.wrapperInput input::-ms-input-placeholder {
  color: #0439d6;
  opacity: 0.5;
}

.wrapperInput input::placeholder {
  color: #0439d6;
  opacity: 0.5;
}

.wrapperInput p {
  width: 13rem;
  padding-left: 1.4rem;
  color: #0439d6;
  font-weight: 300;
}

.wrapperInput img {
  margin-right: 1.4rem;
}

.footerFormAppointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.8rem;
}

.footerFormAppointment .anchorSeeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  color: #ef0732;
  font-size: 1.4rem;
  margin: 0.8rem 0 0 2rem;
}

.footerFormAppointment .anchorSeeMore img {
  margin-right: 1.6rem;
}

.footerFormAppointment .textAlternative {
  width: 100%;
  color: #ef0732;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
}

.footerFormAppointment .textAlternative a {
  font-weight: 600;
  color: #ef0732;
}

.footerFormAppointment .sendSearch {
  background: #ef0732;
  color: #ffffff;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footerFormAppointment .sendSearch:hover {
  background: #d6062d;
}

.wrapperSignature {
  background: url("../assets/img-signatures.png") no-repeat 100% top;
}

.topSignature {
  padding: 10rem 300px 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.topSignature h2 {
  color: #0439d6;
  font-size: 5rem;
  font-weight: 300;
  line-height: 6rem;
  padding-right: 4rem;
}

.topSignature p {
  font-size: 2.4rem;
  font-weight: 300;
  color: #ef0732;
  width: 80%;
  line-height: 2.4rem;
  padding-bottom: 1rem;
}

.boxCardSignatures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  padding-right: 8rem;
}

.easy_cardSignatures {
  padding: 3rem;
  background: linear-gradient(131deg, #ffffff 0%, #c4d3f7 100%);
  border-radius: 3rem;
  color: #0439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.easy_cardSignatures h3 {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.easy_cardSignatures h3 span {
  font-size: 1.4rem;
  display: block;
}

.easy_cardSignatures .describeSignatures {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.easy_cardSignatures .benefitsSignatures {
  font-size: 1.6rem;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.easy_cardSignatures .benefitsSignatures strong {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.easy_cardSignatures .princeButtonSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.easy_cardSignatures .princeButtonSignature button {
  background: #ffffff;
  color: #ef0732;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.easy_cardSignatures .princeButtonSignature button:hover {
  background: #f2f2f2;
}

.easy_cardSignatures .priceSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2.6rem;
}

.easy_cardSignatures .priceSignature p {
  font-size: 1.2rem;
}

.easy_cardSignatures .priceSignature strong {
  font-size: 3.6rem;
}

.plus_cardSignatures {
  padding: 3rem;
  background: linear-gradient(131deg, #2d4bdc 0%, #80a3f6 100%);
  border-radius: 3rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plus_cardSignatures h3 {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.plus_cardSignatures h3 span {
  font-size: 1.4rem;
  display: block;
}

.plus_cardSignatures .describeSignatures {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.plus_cardSignatures .benefitsSignatures {
  font-size: 1.6rem;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.plus_cardSignatures .benefitsSignatures strong {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.plus_cardSignatures .princeButtonSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.plus_cardSignatures .princeButtonSignature button {
  background: #ffffff;
  color: #ef0732;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.plus_cardSignatures .princeButtonSignature button:hover {
  background: #f2f2f2;
}

.plus_cardSignatures .priceSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2.6rem;
}

.plus_cardSignatures .priceSignature p {
  font-size: 1.2rem;
}

.plus_cardSignatures .priceSignature strong {
  font-size: 3.6rem;
}

.total_cardSignatures {
  padding: 3rem;
  background: linear-gradient(131deg, #4222cd 0%, #070256 100%);
  border-radius: 3rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total_cardSignatures h3 {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.total_cardSignatures h3 span {
  font-size: 1.4rem;
  display: block;
}

.total_cardSignatures .describeSignatures {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.total_cardSignatures .benefitsSignatures {
  font-size: 1.6rem;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.total_cardSignatures .benefitsSignatures strong {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.total_cardSignatures .princeButtonSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.total_cardSignatures .princeButtonSignature button {
  background: #ffffff;
  color: #ef0732;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.total_cardSignatures .princeButtonSignature button:hover {
  background: #f2f2f2;
}

.total_cardSignatures .priceSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2.6rem;
}

.total_cardSignatures .priceSignature p {
  font-size: 1.2rem;
}

.total_cardSignatures .priceSignature strong {
  font-size: 3.6rem;
}

.boxCardFamily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem 8rem 14rem 0;
  background: url(../assets/img-signature-family.png) 53% -67% no-repeat;
}

.descriptionSignatureFamily {
  width: calc(33% - 1.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descriptionSignatureFamily h3 {
  font-size: 5.5rem;
  color: #ef0732;
  font-weight: 300;
  line-height: 6.5rem;
  margin-bottom: 3rem;
}

.descriptionSignatureFamily p {
  font-size: 2.4rem;
  color: #0439d6;
  font-weight: 300;
  margin-bottom: 3rem;
}

.descriptionSignatureFamily small {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #0439d6;
}

.family_cardSignatures {
  width: calc(33% - 1.2rem);
  padding: 3rem;
  background: linear-gradient(131deg, #ef0732 0%, #7d0754 100%);
  border-radius: 3rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.family_cardSignatures h3 {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.family_cardSignatures h3 span {
  font-size: 1.4rem;
  display: block;
}

.family_cardSignatures .describeSignatures {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.family_cardSignatures .benefitsSignatures {
  font-size: 1.6rem;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.family_cardSignatures .benefitsSignatures strong {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.family_cardSignatures .princeButtonSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.family_cardSignatures .princeButtonSignature button {
  background: #ffffff;
  color: #ef0732;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.family_cardSignatures .princeButtonSignature button:hover {
  background: #f2f2f2;
}

.family_cardSignatures .priceSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2.6rem;
}

.family_cardSignatures .priceSignature p {
  font-size: 1.2rem;
}

.family_cardSignatures .priceSignature strong {
  font-size: 3.6rem;
}

.wrapperQuery {
  width: 100%;
  background: #d2dcf7;
  padding: 5rem 0;
}

.wrapperQuery .centraliza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.descriptionQuery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.6rem;
  color: #0439d6;
  font-weight: 300;
}

.descriptionQuery img {
  margin-right: 2.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.descriptionQuery p {
  max-width: 44rem;
}

.descriptionQuery p span {
  display: block;
}

.boxStateLinkQuery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxStateQuery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxStateQuery .typeStateQuery {
  color: #ef0732;
  padding: 0 1.6rem 1rem 1.6rem;
  margin: 0 2rem;
  font-size: 2.6rem;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxStateQuery .typeStateQuery::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #ef0732;
  border-radius: 50%;
  margin-right: 1.2rem;
}

.boxStateQuery .queryActive {
  border-bottom: 1px solid #ef0732;
}

.boxStateQuery .queryActive::before {
  background: #ef0732;
}

.boxLinkQuery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxLinkQuery a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  color: #0439d6;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.boxLinkQuery a:hover {
  background: #f2f2f2;
}

.boxLinkQuery a + a {
  margin-left: 2rem;
}

.wrapperExplanationPrices {
  background: url("../assets/background-what-table-doctor.png") top left no-repeat;
  background-size: 100% 100%;
  padding: 8rem 0 6rem 0;
  min-height: 204rem;
}

.titleExplanation {
  font-size: 5rem;
  color: #ef0732;
  line-height: 5rem;
  margin-bottom: 1.8rem;
  font-weight: 300;
}

.titleExplanation span {
  display: block;
}

.describeExplanation {
  width: 50%;
}

.describeExplanation p {
  color: #0439d6;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 1.8rem;
}

.boxTypesExplanation {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxTypesExplanation .typeExplanation {
  margin-right: 4rem;
  width: 33.3%;
}

.boxTypesExplanation .titlleTypeExplanation {
  font-size: 2.4rem;
  font-weight: 300;
  color: #0439d6;
  margin-bottom: 1.8rem;
}

.boxTypesExplanation .titlleTypeExplanation strong {
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  color: #ef0732;
}

.boxTypesExplanation .listTypeExplanation {
  position: relative;
}

.boxTypesExplanation .listTypeExplanation .itemTypeExplanation {
  font-size: 1.8rem;
  font-weight: 300;
  color: #0439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2rem;
}

.boxTypesExplanation .listTypeExplanation .itemTypeExplanation::before {
  content: '';
  width: 15px;
  height: 13px;
  display: inline-block;
  background-image: url(../assets/check.png);
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 8px;
  margin-right: 2rem;
}

.boxTypesExplanation .anchorTypeExplanation {
  color: #ef0732;
  font-weight: 300;
  font-size: 1.8rem;
  padding: 0.8rem 1.8rem 1rem 1.8rem;
  border: 1px solid #ef0732;
  border-radius: 2.8rem;
  width: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 3rem;
}

.boxTypesExplanation .anchorTypeExplanation:hover {
  color: #ffffff;
  background: #ef0732;
}

.boxPrices {
  margin-top: 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.cardPrice {
  padding: 3rem;
  border-radius: 3rem;
  color: #0439d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(131deg, #ffffff 0%, #c4d3f7 100%);
}

.cardPrice .titleCardPrice {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.cardPrice .listCardPrice {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cardPrice .itemCardPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
}

.cardPrice .anchorCardPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  background: #ffffff;
  color: #0439d6;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cardPrice .anchorCardPrice:hover {
  background: #f2f2f2;
}

.alertPrices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

.alertPrices small {
  font-size: 1.2rem;
  color: #ffffff;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */