.wrapperAdvantages {
  background: url('../../assets/background-discounts.png') no-repeat 149%;
  min-height: 1057px;
  padding-top: 10rem;
  @media (min-width: 1500px) {
    background: url('../../assets/background-discounts.png') no-repeat top right;
  }

  @media (max-width: 1240px) {
    background: url('../../assets/background-discounts.png') no-repeat 400px;
  }

  @media (max-width: 745px) {
    background: none;
    min-height: auto;
  }
}

.boxAdvantages {
  width: 40%;
  @media (max-width: 1240px) {
    width: 50%;
  }

  @media (max-width: 745px) {
    width: 100%;
  }
}

.titleAdvantages {
  color: $color-text-base;
  font-size: 5rem;
  font-weight: 300;
  line-height: 5.5rem;

  @media (max-width: 440px) {
    font-size: 3rem;
  }
}

.boxPartners {
  margin: 6rem 0;
  @media (max-width: 535px) {
    img {
      width: 100%;
    }
  }
}

.describeAdvantages {
  color: $color-text-base;
  font-size: 2.4rem;
  font-weight: 300;
  p {
    line-height: 2.4rem;
    margin-bottom: 1.8rem;
  }
}

.itemAdvantage {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 2.4rem;
  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $color-secundary;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    margin-right: 2rem;
  }
}

.anchorMoredvantage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  @include mainButton($color-secundary, $color-white);
}
