body {
  -webkit-font-smoothing: antialiased !important;
  background: var(--color-background);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body,
input,
button,
textarea {
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text-base);
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body,
html,
#root {
  height: 100vh;
}

:root {
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

.centraliza {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

$color-background: #ffffff;
$color-primary: #0439d6;
$color-secundary: #ef0732;
$color-title-primary: #0439d6;
$color-title-secundary: #ef0732;
$color-text-base: #0439d6;
$color-text-secundary: #ef0732;
$color-text-in-primary: #ffffff;
$color-text-in-secundary: #ffffff;
$color-white: #ffffff;

$color-background-query: #d2dcf7;

$color-gradient-blue-light: #c4d3f7;

@mixin mainButton($background, $color) {
  background: $background;
  color: $color;
  width: 223px;
  height: 66px;
  border-radius: 8rem;
  font-size: 2.4rem;
  border: 0;
  transition: all 0.2s;
  &:hover {
    background: darken($background, 5%);
  }
}

@mixin cardSignatures($colorGradient1, $colorGradient2, $colorText) {
  padding: 3rem;
  background: linear-gradient(131deg, $colorGradient1 0%, $colorGradient2 100%);
  border-radius: 3rem;
  color: $colorText;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 3.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    span {
      font-size: 1.4rem;
      display: block;
    }
  }

  .describeSignatures {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .benefitsSignatures {
    font-size: 1.6rem;
    font-weight: 300;
    flex: 1;
    strong {
      display: block;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }

  .princeButtonSignature {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

    button {
      @include mainButton($color-white, $color-text-secundary);
    }
  }

  .priceSignature {
    display: flex;
    flex-direction: column;
    line-height: 2.6rem;
    p {
      font-size: 1.2rem;
    }
    strong {
      font-size: 3.6rem;
    }
  }
}
