.headerCentraliza {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  @media (max-width: 615px) {
    flex-direction: column;
  }
}

.menuToggle {
  display: none;
  width: 4rem;
  height: 100%;
  margin-left: 2rem;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
  @media (max-width: 1160px) {
    display: flex;
  }

  .one,
  .two,
  .three {
    background: $color-primary;
    height: 0.4rem;
    width: 100%;
    margin: 0.3rem auto;
    border-radius: 1rem;
    transition: all 0.3s;
  }
}

.mainMenu {
  display: flex;
  @media (max-width: 615px) {
    justify-content: center;
    margin-bottom: 1.6rem;
    order: 2;
  }
  ul {
    display: flex;
    @media (max-width: 1160px) {
      display: none;
    }
  }

  .menuItem {
    display: flex;
    align-items: center;
    margin: 0 2rem;
  }

  .menuAnchor {
    color: $color-text-base;
    font-size: 1.8rem;
    text-decoration: none;
    margin-left: 0.8rem;
  }

  &.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 25rem;
    height: 100vh;
    background: linear-gradient(180deg, #fff 0%, #d2dcf7 100%);
    z-index: 10;
    align-items: flex-start;
    flex-direction: column;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      width: 100%;
    }

    .menuItem {
      margin: 0;
      transition: all 0.2s;
      margin: 1rem;
      padding: 1rem 1.8rem;
      border-radius: 1rem;
      width: 320px;
      &:hover {
        background: #d2dcf7;
      }
      a {
        font-size: 3rem;
      }
    }

    .menuToggle {
      position: absolute;
      left: 0;
      top: 15px;
      height: auto;
      .one {
        transform: rotate(45deg) translate(7px, 7px);
      }

      .two {
        opacity: 0;
      }

      .three {
        transform: rotate(-45deg) translate(6px, -8px);
      }
    }

    .wrapperSelectStates {
      width: 100%;
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}

.wrapperSelectStates {
  display: flex;
  align-items: center;
  position: relative;
  &::after {
    content: url(../assets/svg/arrow-down.svg);
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 11px;
    height: 20px;
  }
  select {
    color: $color-text-base;
    font-size: 1.8rem;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin-left: 0.8rem;
  }
}

.wrapperLoginArea {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  @media (max-width: 615px) {
    order: 1;
    margin-bottom: 1.6rem;
    justify-content: center;
  }
  span {
    color: $color-text-base;
    display: inline-block;
    margin: 0 0.8rem;
  }

  .typeButton {
    height: 4rem;
    padding: 0 4rem;
    border-radius: 2rem;
    transition: all 0.2s;
  }

  .loginButton {
    background: $color-text-base;
    color: $color-text-in-primary;
    border: 0;
    &:hover {
      background: darken($color-primary, 10%);
    }
  }

  .registerButton {
    border: 1px solid $color-primary;
    background: transparent;
    color: $color-text-base;
    &:hover {
      background: darken($color-white, 5%);
    }
  }
}
