.wrapperSignature {
  background: url('../assets/img-signatures.png') no-repeat 100% top;

  @media (max-width: 700px) {
    background: none;
  }
}

.topSignature {
  padding: 10rem 300px 10rem 0;
  display: flex;
  align-items: flex-end;
  @media (max-width: 1000px) {
    flex-direction: column;
  }

  @media (max-width: 700px) {
    padding: 10rem 0px 10rem 0;
  }

  h2 {
    color: $color-primary;
    font-size: 5rem;
    font-weight: 300;
    line-height: 6rem;
    padding-right: 4rem;
  }

  p {
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-secundary;
    width: 80%;
    line-height: 2.4rem;
    padding-bottom: 1rem;
    @media (max-width: 1000px) {
      width: 100%;
      margin-top: 1.6rem;
    }
  }
}

.boxCardSignatures {
  position: relative;
  display: flex;
}
.glider-track {
  article {
    &::before {
      display: none;
    }
  }
  article:nth-child(2) {
    margin: 0 2rem;
  }
}

.glider-dot {
  margin-top: 2rem;
  &::before {
    display: none;
  }

  @media (min-width: 1220px) {
    display: none;
  }
}

.easy_cardSignatures {
  width: 33%;

  @include cardSignatures(
    $color-white,
    $color-gradient-blue-light,
    $color-text-base
  );
}

.plus_cardSignatures {
  width: 33%;
  @include cardSignatures(#2d4bdc, #80a3f6, $color-text-in-primary);
}

.total_cardSignatures {
  width: 33%;
  @include cardSignatures(#4222cd, #070256, $color-text-in-primary);
}

.boxCardFamily {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0rem 22rem 0;
  background: url(../assets/img-signature-family.png) 55% 59px no-repeat;
  @media (max-width: 990px) {
    flex-direction: column;
    background: url(../assets/img-signature-family.png) 283% -59px no-repeat;
  }

  @media (max-width: 890px) {
    background: url(../assets/img-signature-family.png) top right no-repeat;
    background-size: 220px;
  }

  @media (max-width: 690px) {
    background: none;
    background-size: 220px;
  }
}

.descriptionSignatureFamily {
  width: 33%;
  display: flex;
  flex-direction: column;
  @media (max-width: 990px) {
    width: 50%;
    margin-bottom: 4rem;
  }

  @media (max-width: 690px) {
    width: 100%;
  }
  h3 {
    font-size: 5.5rem;
    color: $color-secundary;
    font-weight: 300;
    line-height: 6.5rem;
    margin-bottom: 3rem;

    @media (max-width: 690px) {
      font-size: 4rem;
    }
  }

  p {
    font-size: 2.4rem;
    color: $color-primary;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  small {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $color-primary;
  }
}

.family_cardSignatures {
  width: 33%;
  @include cardSignatures(#ef0732, #7d0754, $color-text-in-primary);
  @media (max-width: 990px) {
    width: 50%;
  }

  @media (max-width: 890px) {
    width: 100%;
  }
}
