.wrapperSignature {
  background: url('../assets/img-signatures.png') no-repeat 100% top;
}

.topSignature {
  padding: 10rem 300px 10rem 0;
  display: flex;
  align-items: flex-end;
  h2 {
    color: $color-primary;
    font-size: 5rem;
    font-weight: 300;
    line-height: 6rem;
    padding-right: 4rem;
  }

  p {
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-secundary;
    width: 80%;
    line-height: 2.4rem;
    padding-bottom: 1rem;
  }
}

.boxCardSignatures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  padding-right: 8rem;
}

.easy_cardSignatures {
  @include cardSignatures(
    $color-white,
    $color-gradient-blue-light,
    $color-text-base
  );
}

.plus_cardSignatures {
  @include cardSignatures(#2d4bdc, #80a3f6, $color-text-in-primary);
}

.total_cardSignatures {
  @include cardSignatures(#4222cd, #070256, $color-text-in-primary);
}

.boxCardFamily {
  display: flex;
  justify-content: space-between;
  padding: 10rem 8rem 14rem 0;
  background: url(../assets/img-signature-family.png) 53% -67% no-repeat;
}

.descriptionSignatureFamily {
  width: calc(33% - 1.2rem);
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 5.5rem;
    color: $color-secundary;
    font-weight: 300;
    line-height: 6.5rem;
    margin-bottom: 3rem;
  }

  p {
    font-size: 2.4rem;
    color: $color-primary;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  small {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $color-primary;
  }
}

.family_cardSignatures {
  width: calc(33% - 1.2rem);
  @include cardSignatures(#ef0732, #7d0754, $color-text-in-primary);
}
