.wrapperVideoApp {
  background: linear-gradient(180deg, #fff 0%, #d2dcf7 100%);

  .centraliza {
    padding: 0 6rem;
  }
}

.boxVideo {
  display: flex;
}

.videoContent {
  box-shadow: 1rem 1rem 4rem rgba(168, 173, 187, 0.8);
  display: flex;
}

.describeVideo {
  margin-left: 6rem;
  p {
    color: $color-text-base;
    font-size: 4rem;
    font-weight: 300;
    line-height: 5rem;
    strong {
      font-weight: 600;
    }
  }

  > strong {
    font-size: 2.4rem;
    color: $color-secundary;
    margin-top: 4rem;
    display: block;
    span {
      display: block;
    }
  }
}

.boxApp {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.describeApp {
  width: 545px;
  strong {
    font-size: 2.4rem;
    color: $color-secundary;
    margin-bottom: 2rem;
    display: block;
  }

  h3 {
    color: $color-text-base;
    font-size: 4rem;
    font-weight: 300;
    line-height: 5rem;
    margin-bottom: 2rem;
  }

  p {
    color: $color-text-base;
    font-size: 2.4rem;
    font-weight: 300;
  }
}

.anchorsApp {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  a {
    display: flex;
    margin-right: 1.8rem;
  }
}

.boxImgApp {
  display: flex;
}
